.container
  .form-group.has-feedback(ng-class="{ 'has-success' : $ctrl.isEndpointValid === true, 'has-error' : $ctrl.isEndpointValid === false}")
    label Endpoint
    input.form-control(type="text",ng-model="$ctrl.endpoint",ng-change="$ctrl.endpointChanged()")
    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="$ctrl.isEndpointValid")
    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="!$ctrl.isEndpointValid")
  .form-group
    label Default query level
    select.form-control(ng-model="$ctrl.defaultLevel",ng-options="level for level in $ctrl.availableLevels")
  .form-group
    label Query
    textarea.form-control(ng-model="$ctrl.query")
  .form-group
    label Comparison query
    textarea.form-control(ng-model="$ctrl.comparisonQuery")
  .form-group
    label Attribute
    select.form-control(ng-model="$ctrl.attr",ng-options="attr for attr in $ctrl.attrs")
  .form-group
    label Attribute length
    input.form-control(type="number",ng-model="$ctrl.attrLength")
  .form-group
    label Frequency to show
    .row: .col-xs-12
      label.radio-inline
        input(type="radio",name="freq",ng-model="$ctrl.plotTermFreq",ng-value="false") 
        | document
      label.radio-inline
        input(type="radio",name="freq",ng-model="$ctrl.plotTermFreq",ng-value="true") 
        | term
  .form-group
    label Frequency to show
    .row: .col-xs-12
      label.radio-inline
        input(type="radio",name="freq2",ng-model="$ctrl.plotAbsolute",ng-value="false") 
        | relative
      label.radio-inline
        input(type="radio",name="freq2",ng-model="$ctrl.plotAbsolute",ng-value="true") 
        | absolute
  button.btn.btn-success(ng-click="$ctrl.runQuery()",ng-disabled="$ctrl.queryRunning") Query
  
  span.glyphicon.glyphicon-refresh(ng-show="$ctrl.queryRunning")
  
  div(ng-show="$ctrl.error")
    h2 Query resulted in error:
    | {{$ctrl.error}}
    
  div(ng-show="!$ctrl.queryRunning")
    
    h2 Results
    
    h4 Sample attributes
    span(ng-repeat="attr in $ctrl.sampleAttrs") {{attr}}{{$last ? '' : ', '}}
    
    h4 Graph
    plotly(data="$ctrl.data",layout="$ctrl.layout")

    h2(ng-click="$ctrl.showRaw=!$ctrl.showRaw") Raw results
      span.glyphicon.glyphicon-chevron-down(ng-show="!$ctrl.showRaw")
      span.glyphicon.glyphicon-chevron-up(ng-show="$ctrl.showRaw")
    div(ng-show="$ctrl.showRaw")
      textarea.form-control(disabled) {{$ctrl.queryURL}}      
      pre(pretty-json="$ctrl.response")
  
