.container
  .form-group.has-feedback(ng-class="{ 'has-success' : $ctrl.isEndpointValid === true, 'has-error' : $ctrl.isEndpointValid === false}")
    label Endpoint
    input.form-control(type="text",ng-model="$ctrl.endpoint",ng-change="$ctrl.endpointChanged()")
    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="$ctrl.isEndpointValid")
    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="!$ctrl.isEndpointValid")
  .form-group
    label Default query level
    select.form-control(ng-model="$ctrl.defaultLevel",ng-options="level for level in $ctrl.availableLevels")
  .form-group
    label Query
    textarea.form-control(ng-model="$ctrl.query")
    p.help-block Understands an expanded form of <a href="http://lucene.apache.org/core/6_5_1/queryparser/org/apache/lucene/queryparser/classic/package-summary.html#package.description">Lucene query parser syntax</a>.
  .form-group
    label Limit
    input.form-control(type="number",ng-model="$ctrl.limit")
    p.help-block -1 for no limit
  .form-group
    label Maximum number of documents to process
    input.form-control(type="number",ng-model="$ctrl.maxDocs")
    p.help-block More hits than this triggers probabilistic sampling. -1 for no limit.
  .form-group
    .checkbox
      label 
        input(type="checkbox",ng-model="$ctrl.mds")
        | Plot terms in MDS space
    
  .form-group
    label Further options
    input.form-control(type="text",ng-model="$ctrl.furtherOptions")
  h2(ng-click="$ctrl.showWeightingOptions=!$ctrl.showWeightingOptions") Term weighting
    span.glyphicon.glyphicon-chevron-down(ng-show="!$ctrl.showWeightingOptions")
    span.glyphicon.glyphicon-chevron-up(ng-show="$ctrl.showWeightingOptions")
  div(ng-show="$ctrl.showWeightingOptions")
    .form-group
      label aggregate weighting formula
      select.form-control(ng-model="$ctrl.sumScaling")
        option(value="ABSOLUTE") absolute counts
        option(value="TTF") term frequency weighted counts
        option(value="DF") document frequency weighted counts
    .form-group
      label Laplace smoothing to use when weighting
      input.form-control(type="number",ng-model="$ctrl.smoothing")
    .form-group
      label local weighting formula
      select.form-control(ng-model="$ctrl.localScaling")
        option(value="ABSOLUTE") absolute occurrence count
        option(value="MIN") absolute count up to query frequency
        option(value="FLAT") one occurrence counted per document
  h2(ng-click="$ctrl.showFilteringOptions=!$ctrl.showFilteringOptions") Term filtering
    span.glyphicon.glyphicon-chevron-down(ng-show="!$ctrl.showFilteringOptions")
    span.glyphicon.glyphicon-chevron-up(ng-show="$ctrl.showFilteringOptions")
  div(ng-show="$ctrl.showFilteringOptions")
    plotly(data="$ctrl.tfData",layout="$ctrl.tfLayout")
    .form-group
      label Minimum total term frequency for term
      input.form-control(type="number",ng-model="$ctrl.minTotalTermFreq")
      p.help-block(ng-show="$ctrl.mquantiles") 
        | 90% of terms have frequency {{$ctrl.mquantiles[0] | number}} or more.<br />50%: {{$ctrl.mquantiles[1] | number}} or more, <br />20%: {{$ctrl.mquantiles[2] | number}} or more, <br />10%: {{$ctrl.mquantiles[3] | number}} or more.
    .form-group
      label Maximum total term frequency for term
      input.form-control(type="number",ng-model="$ctrl.maxTotalTermFreq")
      p.help-block
        span(ng-show="$ctrl.quantiles") 95% of terms have frequency {{$ctrl.quantiles[0] | number}} or less. <br />99%: {{$ctrl.quantiles[1] | number}} or less, <br />99.5%: {{$ctrl.quantiles[2] | number}} or less, <br />99.9%: {{$ctrl.quantiles[3] | number}} or less, <br />100%: {{$ctrl.quantiles[4] | number}} or less.<br />
        span -1 for no limit.
    plotly(data="$ctrl.dfData",layout="$ctrl.dfLayout")
    .form-group
      label Minimum total document frequency for term
      input.form-control(type="number",ng-model="$ctrl.minDocFreq")
      p.help-block(ng-show="$ctrl.mdquantiles") 
        | 90% of terms have frequency {{$ctrl.mdquantiles[0] | number}} or more. <br />50%: {{$ctrl.mdquantiles[1] | number}} or more, <br />20%: {{$ctrl.mdquantiles[2] | number}} or more, <br />10%: {{$ctrl.mdquantiles[3] | number}} or more.
    .form-group
      label Maximum total document frequency for term
      input.form-control(type="number",ng-model="$ctrl.maxDocFreq")
      p.help-block
       span(ng-show="$ctrl.dquantiles") 95% of terms have frequency {{$ctrl.dquantiles[0] | number}} or less. <br />99%: {{$ctrl.dquantiles[1] | number}} or less, <br />99.5%: {{$ctrl.dquantiles[2] | number}} or less, <br />99.9%: {{$ctrl.dquantiles[3] | number}} or less, <br />100% {{$ctrl.dquantiles[4] | number}} or less.<br />
       span -1 for no limit.
    .form-group
      label Minimum occurrences for term with regard to query
      input.form-control(type="number",ng-model="$ctrl.minSumFreq")
    .form-group
      label Maximum occurrences for term with regard to query
      input.form-control(type="number",ng-model="$ctrl.maxSumFreq")
      p.help-block -1 for no limit.
    .form-group
      label Minimum occurrences for term inside a single document for that document to be counted
      input.form-control(type="number",ng-model="$ctrl.minFreqInDoc")
    .form-group
      label Maximum occurrences for term inside a single document for that document to be counted
      input.form-control(type="number",ng-model="$ctrl.maxFreqInDoc")
      p.help-block -1 for no limit.
    .form-group
      label Minimum term length
      input.form-control(type="number",ng-model="$ctrl.minTermLength")
    .form-group
      label Maximum term length
      input.form-control(type="number",ng-model="$ctrl.maxTermLength")
      p.help-block -1 for no limit.
    .form-group
      label Term filter
      input.form-control(type="text",ng-model="$ctrl.termFilter")
      p.help-block Groovy expression returning a boolean. Term=term      
  button.btn.btn-success(ng-click="$ctrl.runQuery()",ng-disabled="$ctrl.queryRunning") Query
    span(ng-show="$ctrl.queryRunning") &nbsp;
      span.glyphicon.glyphicon-hourglass

  div(ng-show="$ctrl.error")
    h2 Query resulted in error:
    | {{$ctrl.error}}

  div(ng-show="!$ctrl.queryRunning")
    | {{$ctrl.totalResults}}
    
    plotly(ng-show="$ctrl.mds",data="$ctrl.mdsData",layout="$ctrl.mdsLayout")
    
    word-cloud(ng-show="!$ctrl.mds",words="$ctrl.words" width="$ctrl.cloudWidth" height="$ctrl.cloudHeight",on-click="$ctrl.wordClicked", rotate="360")
  
    h2(ng-click="$ctrl.showRaw=!$ctrl.showRaw") Raw results
      span.glyphicon.glyphicon-chevron-down(ng-show="!$ctrl.showRaw")
      span.glyphicon.glyphicon-chevron-up(ng-show="$ctrl.showRaw")
    div(ng-show="$ctrl.showRaw")
      textarea.form-control(disabled) {{$ctrl.queryURL}}      
      pre(pretty-json="$ctrl.response")
