doctype html
html(lang="en",ng-app="app",ng-hint)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
    link(rel="stylesheet" href="styles.css")
    title App
  body
    div(ui-view)
    script(src="ui-bundle.js")
