.container
  .form-group.has-feedback(ng-class="{ 'has-success' : $ctrl.isEndpointValid === true, 'has-error' : $ctrl.isEndpointValid === false}")
    label Endpoint
    input.form-control(type="text",ng-model="$ctrl.endpoint",ng-change="$ctrl.endpointChanged()")
    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="$ctrl.isEndpointValid")
    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="!$ctrl.isEndpointValid")
  .form-group
    label Query
    textarea.form-control(ng-model="$ctrl.query")
  .form-group
    label Comparison query
    textarea.form-control(ng-model="$ctrl.comparisonQuery")
  .form-group
    label Attribute
    select.form-control(ng-model="$ctrl.attr",ng-options="attr for attr in $ctrl.attrs")
  .form-group
    label Attribute length
    input.form-control(type="number",ng-model="$ctrl.attrLength")
  .form-group
    label Frequency to show
    .row: .col-xs-12
      label.radio-inline
        input(type="radio",name="freq",ng-model="$ctrl.plotDocFreq",ng-value="true") 
        | document
      label.radio-inline
        input(type="radio",name="freq",ng-model="$ctrl.plotDocFreq",ng-value="false") 
        | term
  button.btn.btn-success(ng-click="$ctrl.runQuery()") Query
  
  h2 Results
  
  h4 Sample attributes
  span(ng-repeat="attr in $ctrl.sampleAttrs") {{attr}}{{$last ? '' : ', '}}
  
  h4 Graph
  plotly(data="$ctrl.data",layout="$ctrl.layout")
  
